
@charset 'UTF-8';
/* Slider */

.slick-prev:before,
.slick-next:before
{
    color:rgb(255, 65, 65);

}
/* 
.slick-track img{
  width:550px;
  margin:0 auto;
  text-align: center;
  } */
  
  
/* .slider
{

  height:auto;
  width:550px;
  margin:0 auto;

} */

/* .slick-slide{
  width:550px;
} */
.slick-slider{
  width: 60%;
  margin: 0 auto;

}
/* .slider div {
  height: 350px;
} */
.slider img {
  width: 100%;
}

