
$breakpoints: (
  "sp": "screen and (max-width: 896px)",
  "tab": "screen and (max-width: 1179px)",
 
);
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }

}


@mixin a{
  color:black;
  text-decoration: none;
  &:active{
    color:#777;
  }
  
  &:visited{
    color:#777;
  }
  &:hover{
    color:#31c2b6;
    cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
  }
}
// @mixin about-imgs{
//   width: 100%;
//   display:flex;
//   justify-content: space-between;
 
//   align-items: flex-start;

//     // position: relative;
//     // padding: 200px 0;
//     // margin:0 150px;
// }

@mixin table{
  border-bottom: 1px solid #31c2b6;
}